$navbar-default-bg: #003366;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cookie.png');
  background-size: cover;
  height: 300px;

  h1, h2 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    color: white;
  }
}

.btn-xlarge {
  background-color: #003366;
  border: none;

  &:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.footer {
  // position: absolute;
  // bottom: 0;
  height: 100%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  line-height: 60px;
}

.description {
  margin-top: 0;
}


.well a {
  color: #003366;
}

.rounded_corners {
  border-radius: 4px;
}

.chef_info {
  margin-top: 8px;
}

.colormatch a {
  color: #003366;
}

.recipe-actions {
  padding-top: 5px;

  a {
    color: white;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #003366;
  font-weight: bold;
  font-size: 1.25em;
}

.navbar-default .navbar-nav > li > a {
  color: white;

  &:hover {
    color: lightgrey;
  }
}

.badge {
  background-color: lightgrey;
}

.input_checkbox input {
  width: auto !important;
}
